{% extends "Default/Base/index.html.twig"%}
{% block content %}




    <div class="row">
        <div class="col-md-6">
            {% if chart1 is defined %}{{ chart1|raw}}{% endif %}
        </div>
        <div class="col-md-6">
            {% if chart2 is defined %}{{ chart2|raw}}{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if chart3 is defined %}{{ chart3|raw}}{% endif %}
        </div>
        <div class="col-md-6">
            {% if chart4 is defined %} {{ chart4|raw}}{% endif %}
        </div>
    </div>

    <!-- SPARKLINE 
    <div class="row">
        <div class="col-md-4">
            {{ sparkLine1|raw}}
        </div>
        <div class="col-md-4">
            {{ sparkBar2|raw}}
        </div>
        <div class="col-md-4">
            {{ sparkPie3|raw}}
        </div>

    </div> 

    <div class="row">
        <div class="col-md-4">
            {{ sparkLine11|raw}}
        </div>
        <div class="col-md-4">
            {{ sparkBar22|raw}}
        </div>
        <div class="col-md-4">
            {{ sparkPie33|raw}}
        </div>

    </div> -->   


    <!-- Easy Pie
    <div class="row">
        <div class="col-md-4">
            {{ easyPie1|raw}}
        </div>
        <div class="col-md-4">
            {{ easyPie2|raw}}
        </div>
        <div class="col-md-4">

        </div>

    </div> -->

    <div class="row">
        <div class="col-md-12">   
            {{ chartMjsArea|raw}}
        </div>

    </div>



{% endblock content %}

{% block js %}
    {{ parent() }}

{% endblock js %}

