<div class="mini-charts-item {{options.backgroundColorClass}}">
    <div class="clearfix">
        <div id="{{options.htmlContainerId}}" data-percent="{{options.value}}" class="easy-pie chart spark-chart-block"></div>
        <div class="count">
            <small class="chart-title">{{options.title}}</small>
            <h2>{{options.value}}%</h2>
        </div>
    </div>
</div>
  