<div id="{{options.htmlContainerId}}"></div>

<script>

    var {{options.htmlContainerId}}Fn = function(){
    Morris.Line({
        element: '{{options.htmlContainerId}}',
        data:{{options.jsonData|raw}},
        xkey: '{{options.xkey}}',
        ykeys: [{% for ykey in options.ykeys %}'{{ykey}}'{% if not loop.last %},{% endif %}{% endfor %} ],
        labels: [{% for label in options.labels %}'{{label}}'{% if not loop.last %},{% endif %}{% endfor %} ],
        resize: true,
        hideHover:'auto'
        });{% if options.download %}
        $('#{{options.htmlContainerId}}').append('<div><a class="not-lazy-loaded pull-right" style="cursor:pointer" target="_blank" id="{{options.htmlContainerId}}-download">{{'download'|trans}}</a></div>');
        document.getElementById('{{options.htmlContainerId}}-download').addEventListener('click', function() {
                downloadImage(this, '{{options.htmlContainerId}}', {%if options.downloadFileName %}'{{options.downloadFileName}}.png'{% else %}'export.png'{% endif %});
            }, false);
    {% endif %}

    }

   {% if app.request.isXmlHttpRequest() %}
        {{options.htmlContainerId}}Fn();
    {% else %}
    if (collector) {
        collector.addFunction({{options.htmlContainerId}}Fn);
    }
    {% endif %}
</script>