{

 execute: function(){

   var {{options.htmlContainerId}}Fn = function(){
       
    var chart{{options.htmlContainerId}} = Morris.Donut({
            element: '{{options.htmlContainerId}}',
            data:{{options.jsonData|raw}},
            resize: true,
            formatter: {% if options.formatter %}{{options.formatter}}{% else %}function (y, data) { return y }{% endif %}
            {% if options.colors is not empty %}, colors: [{% for color in options.colors %}'{{color}}'{% if not loop.last %},{% endif %}{% endfor %} ]{% endif %}
    });
                
    {% if options.download %}
            $('#{{options.htmlContainerId}}').append('<div><a style="cursor:pointer" class="not-lazy-loaded pull-right" target="_blank" id="{{options.htmlContainerId}}-download">{{'download'|trans}}</a></div>');
            document.getElementById('{{options.htmlContainerId}}-download').addEventListener('click', function() {
    downloadImage(this, '{{options.htmlContainerId}}', {%if options.downloadFileName %}'{{options.downloadFileName|trans}}.png'{% else %}'export.png'{% endif %});
            }, false);
    {% endif %}
    
    {% if options.legend  and options.labels is not empty and options.colors is not empty %}
    {% set legend ='<div class="legend-container" style="position:relative;">'%}
    {% for label in options.labels %} 
        {% set legend=legend~'<div style="background-color: '~options.colors[loop.index0]~'" class="di-block m-r-10 legend-color"></div><div class="di-block m-r-20 legend-title">'~label|trans~'</div>'%}
    {% endfor %}
    {% set legend=legend~'</div>'%}    
    $('#{{options.htmlContainerId}}').append('{{legend|raw}}');
{% endif %}

    //Update example:
    //chart{{options.htmlContainerId}}.setData([{'label':'aaa','value':'234'},{'label':'aaa','value':'234'}])

    //event example
    //chart{{options.htmlContainerId}}.on('click', function(i, row){console.log(i, row);});

    /*
     update{{options.htmlContainerId}}=function(){

     var v1=Math.floor((Math.random() * 10) + 1);
     var v2=Math.floor((Math.random() * 10) + 1);
     var v3=Math.floor((Math.random() * 10) + 1);
     var v4=Math.floor((Math.random() * 10) + 1);
     var v5=Math.floor((Math.random() * 10) + 1);

     chart{{options.htmlContainerId}}.setData([{'label':'a1','value':v1},{'label':'a2','value':v2},{'label':'a3','value':v3},{'label':'a4','value':v4},{'label':'a5','value':v5}])
     }

     setInterval(update{{options.htmlContainerId}},3000)
     */

  }
    
    {% if options.data is not empty %}
    {% if app.request.isXmlHttpRequest() %}

        setTimeout({{options.htmlContainerId}}Fn, 1000);

    {% else %}
    if (collector) {
        collector.addFunction({{options.htmlContainerId}}Fn);
    }
    {% endif %}
    {% endif %}
    }
}