<div id="{{options.htmlContainerId}}" class="bgm-white"></div>

<script>

  
    
    var {{options.htmlContainerId}}Fn=function(){
        
        Morris.Area({
        element: '{{options.htmlContainerId}}',
                data:{{options.jsonData|raw}},
                xkey: '{{options.xkey}}',
                ykeys: [{% for ykey in options.ykeys %}'{{ykey}}'{% if not loop.last %},{% endif %}{% endfor %} ],
                labels: [{% for label in options.labels %}'{{label}}'{% if not loop.last %},{% endif %}{% endfor %} ],
                xLabels:'text',
                resize: true,
                {% if options.xLabelFormatFn is defined %}xLabelFormat:{{options.xLabelFormatFn|raw}},{% endif %}
                {% if options.yLabelFormatFn is defined %}yLabelFormat:{{options.yLabelFormatFn|raw}},{% endif %}
                parseTime: false,
                behaveLikeLine:true,
                goalStrokeWidth: '0px',
                lineWidth: 0,
                pointSize: 0,
                grid: false,
                axis: false,
                hideHover:'auto'
                {% if options.fillOpacity %}, fillOpacity:{{options.fillOpacity}}{% endif %}
                {% if options.lineColors is not empty %}, lineColors: [{% for lineColor in options.lineColors %}'{{lineColor}}'{% if not loop.last %},{% endif %}{% endfor %} ]{% endif %}
        });
        
        {% if options.download %}
        $('#{{options.htmlContainerId}}').append('<div><a style="cursor:pointer" class="not-lazy-loaded pull-right" target="_blank" id="{{options.htmlContainerId}}-download">{{'download'|trans}}</a></div>');
        
        document.getElementById('{{options.htmlContainerId}}-download').addEventListener('click', function() {
            downloadImage(this, '{{options.htmlContainerId}}', {%if options.downloadFileName %}'{{options.downloadFileName|trans}}.jpg'{% else %}'export.jpg'{% endif %});
        }, false);
        {% endif %}
        
        //event example
        //chart{{options.htmlContainerId}}.on('click', function(i, row){console.log(i, row);});
    }
    
    {% if app.request.isXmlHttpRequest() %}
        {{options.htmlContainerId}}Fn();
    {% else %}
    if (collector) {
        collector.addFunction({{options.htmlContainerId}}Fn);
    }
    {% endif %}
   

</script>