var chart{{config.htmlContainerId}} = Morris.Donut({
    element: '{{config.htmlContainerId}}',
    data: {{config.jsonData|raw}},
    resize: true,
    formatter: function (y, data) { return '$' + y }
});

{% if config.download %}
$('#{{config.htmlContainerId}}').append('<div><a style="cursor:pointer" class="not-lazy-loaded pull-right" target="_blank" id="{{config.htmlContainerId}}-download">{{'download'|trans}}</a></div>');
document.getElementById('{{config.htmlContainerId}}-download').addEventListener('click', function() {
    downloadImage(this,'{{config.htmlContainerId}}', {%if config.downloadFileName %}'{{config.downloadFileName}}.png'{% else %}'export.png'{% endif %});
}, false);
{% endif %}

//Update example:
//chart{{config.htmlContainerId}}.setData([{'label':'aaa','value':'234'},{'label':'aaa','value':'234'}])

//event example
//chart{{config.htmlContainerId}}.on('click', function(i, row){console.log(i, row);});


update=function(){

var v1=Math.floor((Math.random() * 10) + 1);
var v2=Math.floor((Math.random() * 10) + 1);
    chart{{config.htmlContainerId}}.setData([{'label':'aaa','value':v1},{'label':'aaa','value':v2}])
}




setInterval(update,3000)