Morris.Area({
    element: '{{config.htmlContainerId}}',
    data: {{config.jsonData|raw}},
    xkey: '{{config.xkey}}',
    ykeys: [{% for ykey in config.ykeys %}'{{ykey}}'{% if not loop.last %},{% endif %}{% endfor %}],
    labels: [{% for label in config.labels %}'{{label}}'{% if not loop.last %},{% endif %}{% endfor %}],
    resize: true,
    behaveLikeLine:true,
    hideHover:'auto'
});

{% if config.download %}
    $('#{{config.htmlContainerId}}').append('<div><a style="cursor:pointer" class="not-lazy-loaded pull-right" target="_blank" id="{{config.htmlContainerId}}-download">{{'download'|trans}}</a></div>');

    document.getElementById('{{config.htmlContainerId}}-download').addEventListener('click', function() {
    downloadImage(this,'{{config.htmlContainerId}}', {%if config.downloadFileName %}'{{config.downloadFileName}}.jpg'{% else %}'export.jpg'{% endif %});
    }, false);
{% endif %}


//event example
//chart{{config.htmlContainerId}}.on('click', function(i, row){console.log(i, row);});