<div class="dash-widget-item {{options.backgroundColorClass}}" id="site-visits">
    <div class="dash-widget-header">
        <div class="p-20">
            <div id="{{options.htmlContainerId}}" class="chart spark-chart-panel-block"></div>
        </div>

        <div class="dash-widget-title">{{options.title}}</div>
        {% if options.download %}
        <ul class="actions actions-alt">
            <li class="dropdown">
                <a data-toggle="dropdown" href="">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    {% if options.download %}
                    <li>
                        <a target="_blank" style="cursor:pointer" class="not-lazy-loaded"  id="{{options.htmlContainerId}}-download">{{'Download'|trans}}</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </li>
        </ul>
        {% endif %}            

    </div>

    <div class="p-20">
        {% for row in options.listData %}
            <div>
                <small>{{row.title}}</small>
                <h3 class="m-0 f-400">{{row.value}}</h3>
            </div>
        {% endfor %}
    </div>
</div> 



<script>

    var {{options.htmlContainerId}}Fn = function () {
        if ($('#{{options.htmlContainerId}}')[0]) {
            $('#{{options.htmlContainerId}}').sparkline({{options.data|raw}}, {
                type: 'bar',
                height: '95px',
                barWidth: 3,
                barColor: '{{options.barColor}}',
                barSpacing: 2
            });
            
            {% if options.download %}
                document.getElementById('{{options.htmlContainerId}}-download').addEventListener('click', function(e) {
                    downloadCanvasImage(this, '{{options.htmlContainerId}}', {%if options.downloadFileName %}'{{options.downloadFileName}}.png'{% else %}'export.png'{% endif %});
                }, false);
            {% endif %}

        }
        
        
    }
    {% if app.request.isXmlHttpRequest() %}
        {{options.htmlContainerId}}Fn();
    {% else %}
    if (collector) {
        collector.addFunction({{options.htmlContainerId}}Fn);
    }
    {% endif %}
</script>