<div class="mini-charts-item {{options.backgroundColorClass}}">
    <div class="clearfix">
        <div id="{{options.htmlContainerId}}" class="chart spark-chart-block"></div>
        <div class="count">
            <small>{{options.title}}</small>
            <h2>{{options.counter}}</h2>
        </div>
    </div>
</div>

<script>

    var {{options.htmlContainerId}}Fn = function(){
        if ($('#{{options.htmlContainerId}}')[0]) {
            
            $('#{{options.htmlContainerId}}').sparkline({{options.data|raw}}, {
               type: 'line',
               width: 85,
               height: 45,
               lineColor: '{{options.lineColor}}',
               fillColor: '{{options.fillColor}}',
               lineWidth: {{options.lineWidth}},
               maxSpotColor: '{{options.maxSpotColor}}',
               minSpotColor: '{{options.minSpotColor}}',
               spotColor: '{{options.spotColor}}',
               spotRadius: {{options.spotRadius}},
               highlightSpotColor: '{{options.highlightSpotColor}}',
               highlightLineColor: '{{options.highlightLineColor}}',
             });

        }
    }    
    if (collector) {
    collector.addFunction({{options.htmlContainerId}}Fn);
    }
</script>